<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }} - Page</title>

		<style>
			span {
				color: red;
			}
			
			body {
				background-color: red;
				height: 750px;
				background-repeat: no-repeat;
				background-size: contain;
			}
		</style>
	</head>

	<body>
		<h1>{{ title }} Page</h1>
		<p>Welcome to this web app, You can try to win a prize!</p>
		
		<div class="form">
			<form method="POST" actions="">
				{{ form.hidden_tag() }}

				<div class="form-group">
					{{ form.name.label }}
					{{ form.name }}
					{% if form.name.errors %}
						<div class="error">
							{% for error in form.name.errors %}
								<span> {{ error }}</span>
							{% endfor %}
						</div>
					{% endif %}
				</div><br>

				<div class="form-group">
					{{ form.email.label }}
					{{ form.email }}
					{% if form.email.errors %}
						<div class="error">
							{% for error in form.email.errors %}
								<span> {{ error }}</span>
							{% endfor %}
						</div>
					{% endif %}
				</div><br>

				<div class="form-group">
					{{ form.mobile.label }}
					{{ form.mobile }}
					{% if form.mobile.errors %}
						<div class="error">
							{% for error in form.mobile.errors %}
								<span> {{ error }}</span>
							{% endfor %}
						</div>
					{% endif %}
				</div><br>

				<div class="form-group">
					{{ form.submit.label }}
					{{ form.submit }}
				</div><br>
			</form>
		</div>
	</body>
</html>
