<!DOCTYPE html>
<html>
<head>
	<title>{{ title }} - Page</title>

	<style>
			a {
				color: blue;
			}

			h1 {
				color: green;
			}

			span {
				color: red;
			}

			.right {
				float: right;
			}

			.padding {
				padding-right: 5px;
			}

			.intro-header {
				background-color: lightgray; 
				height: 750px; 
				background-repeat: no-repeat; 
				background-size: contain;
			}

			.image {
				margin-left: 30%;
				margin-top: -15%;
			}
	</style>
</head>
<body>
	{% block body_content %}{% endblock %}
</body>
</html>
